
#wraper_top {
  display: flex;
  justify-content: center;
  background-color: blue;
  #top {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}







